{% extends 'base.html' %}
{% load static %}
{% block title %}老师文件管理{% endblock %}

{% block body %}
    <h1>按作业分类展示</h1>
    <h1>文件批量下载</h1>
{#    {% for item in assign_file_data.items %}#}
{#        {{ item }}#}
{#    {% endfor %}#}
    {% for assign_data in assign_file_data %}

        <h3>{{ assign_data.assign_obj }}</h3>

        {% if assign_data.summbit_stu_list %}
        <h4>&nbsp;&nbsp;已提交名单 - {{ assign_data.summbit_stu_list|length }}</h4>
            {% for student in assign_data.summbit_stu_list %}
                <ul>{{ student }}</ul>
            {% endfor %}
        {% else %}
            <ul>无人提交</ul>
        {% endif %}

        {% if assign_data.unsummbit_stu_list %}
        <h4>&nbsp;&nbsp;未提交名单 - {{ assign_data.unsummbit_stu_list|length }}</h4>
            {% for student in assign_data.unsummbit_stu_list %}
                {{ student }},
            {% endfor %}
        {% else %}
            <ul>无未提交人员</ul>
        {% endif %}

{#        {% for (a, b, c) in assign_data %}#}
{#                        {{ a }}#}
{#                        {{ b }}#}
{#                        {{ c }}#}
{##}
{#        {% endfor %}#}
        <br>
        <br>
    {% endfor %}

{% endblock %}


