

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>{% block title %}{% endblock %}</title>
{#    <base href="/">#}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <style>
        body{
            background-color: #f2f8fc;
            /*padding: 0 0 0 0;*/
            margin: 0 8px 0 8px ;
        }
    </style>
</head>
<body>

<a href="/admin/">后台登录</a> 后可管理本人作业
<h2><a href="/">主页 - 匿名</a>
    <a href="/publicSubmits/summarize">汇总 - 学生</a>
    <a href="/manage/backstage">下载 - 老师</a>
</h2>

{% block body %}


{% endblock %}


<script src="/static/vue.js"></script>
  <!-- 引入组件库 -->
<script src="/static/index.js"></script>

{% block scripts %}
{% endblock %}
</body>
</html>