{% extends 'base.html' %}
{% load static %}
{% block title %}作业提交首页{% endblock %}

{% block body %}

<a>我不会搞前端，所以上传文件是否出问题了你得看F12控制台综合分析，还有刷新下看看列表里面是不是有你的文件</a>
<a>登录功能还在开发中</a>
    <h4>如何使用</h4>
<a>现阶段功能是把文件名改为学生名，然后上传至对应作业即可</a>
    <br>
    <a>如：上传 孟骏清.docx 提交到 [大数据作业]内</a>
<div id="app">
{#    <h2><el-button size="maximum"  type="text" style="font-size: larger" @click="loginDrawer = true"> 登录</el-button>#}
{#    后 可管理本人作业， 重复上传文件，自动命名文件。#}
{#    </h2>#}
{#    TODO:检查文件名，错误不予上传 #}
    <el-row :gutter="15">

        {% for ass in assComingUp %}
          <el-col :span="6" :xs="24" :sm="12" :md="8"  :lg="6" :xl="4" style="margin-bottom: 1%" width="25%">
                  <el-card  body-style="height:150px" shadow="hover" class="box-card">
                      <div slot="header"  class="clearfix">
                          <el-alert style="padding: 0; margin:0; height: 120px"
                                    type="warning"
                                    :closable="false">
                              <h1>
                                  <i  class="el-icon-warning" style="size:40px;"></i>
                                  {{  ass.title }}
                              </h1>
                              <a>[{{ ass.relateCurriculum}}</a>
                              <a>[{{ ass.status }}] - DDL:  {{ass.deadLine}}</a>
                          </el-alert>
                      </div>
                      <div style="height: 80px">
                        <a>{{ass.describe}}</a>
                          <br>
                        <a>{{ass.assignRule}}</a>
                      </div>
                      <div  style="height: 80px">
                        <el-upload class="upload-demo" action="publicSubmits/upload/"
                                :data='{"title": "{{ ass.title }}","relateCurriculum":"{{ ass.relateCurriculum }}"}'
                                :on-success="afterUploadFile"
                                :limit="1"
                      >

                          <el-button size="small" type="warning">上传</el-button>
                          <div slot="tip" class="el-upload__tip">文件要求: {{ass.fileFormat}}</div>
                        </el-upload>
                      </div>
                </el-card>
          </el-col>
        {% endfor %}


        {% for ass in assCollecting %}
          <el-col :span="6" :xs="24" :sm="12" :md="8" :lg="6" :xl="4" style="margin-bottom: 1%" width="25%">
                  <el-card body-style="height:150px" shadow="hover" class="box-card">
                      <div slot="header" class="clearfix">
                          <el-alert style="padding: 0; margin:0; height: 120px"
                                    type="success"
                                    :closable="false">
                              <h1>
                                  <i class="el-icon-success" style="size:40px;"></i>
                                  {{  ass.title }}
                              </h1>
                              <a>{{ ass.relateCurriculum }}</a>
                              <a>[{{ ass.status }}] - DDL:  {{ass.deadLine}}</a>
                          </el-alert>
                      </div>
                      <div style="height: 80px">
                        <a>{{ass.assignmentDescribe}}</a>
                          <br>
                      </div>
                      <div  style="height: 80px">
                        <el-upload class="upload-demo" action="publicSubmits/upload/"
                                :data='{"title": "{{ ass.title }}","relateCurriculum":"{{ ass.relateCurriculum }}"}'
                              :on-success="afterUploadFile"
                              :limit="1"
                          >
                          <el-button size="small" type="success">上传</el-button>
                                <br>
                          <div slot="tip" class="el-upload__tip">文件要求: {{ass.fileDescribe}}</div>
                        </el-upload>
                      </div>
            </el-card>
          </el-col>
        {% endfor %}

{#        以下两个匿名无法提交, 按钮没有实际作用#}
{#    TODO: 登录后可以强制提交#}
        {% for ass in assStop %}
          <el-col :span="6" :xs="24" :sm="12" :md="8"  :lg="6" :xl="4" style="margin-bottom: 1%" width="25%">
                  <el-card body-style="height:150px" shadow="hover" class="box-card">
    <!--              body-style="background-color:#f0f9eb"-->
                      <div slot="header" class="clearfix">
                          <el-alert style="padding: 0; margin:0; height: 120px"
                                    type="error"
                                    :closable="false">
                              <h1>
                                  <i  class="el-icon-error" style="size:40px;"></i>
                                  {{  ass.title }}
                              </h1>
                              <a>[{{ ass.status }}] - DDL:  {{ass.deadLine}}</a>
                          </el-alert>
                      </div>
                      <div style="height: 80px">
                        <a>{{ass.assignmentDescribe}}</a>
                          <br>
                      </div>
                    <div  style="height: 100px">
                      <el-button size="small" type="error" disabled>上传</el-button>
                          <div slot="tip" class="el-upload__tip">文件要求: {{ass.fileDescribe}}</div>
                    </div>
                </el-card>
          </el-col>
        {% endfor %}

        {% for ass in assForthComing %}
          <el-col :span="6" :xs="24" :sm="12" :md="8"  :lg="6" :xl="4" style="margin-bottom: 1%" width="25%">
                  <el-card body-style="height:150px" shadow="hover" class="box-card">
                      <div slot="header"  style="" class="clearfix">
                          <el-alert style="padding: 0; margin:0; height: 120px"
                                    type="info"
                                    :closable="false">
                              <h1>
                                  <i  class="el-icon-info" style="size:40px;"></i>
                                  {{  ass.title }}
                              </h1>
                              <a>[{{ ass.status }}] - DDL:  {{ass.deadLine}}</a>
                          </el-alert>
                      </div>
                      <div style="height: 80px">
                        <a>{{ass.assignmentDescribe}}</a>
                          <br>
                        <a>{{ass.assignRule}}</a>
                      </div>
                    <div  style="height: 80px">
                          <el-button size="small" type="info" disabled>上传</el-button>
                          <div slot="tip" class="el-upload__tip">文件要求: {{ass.fileFormat}}</div>
                      </div>
                </el-card>
          </el-col>
        {% endfor %}
    </el-row>
<ol>
<h1>所有提交列表</h1>
<table border="0" align="1" >
        </tr>
            <td>上传时间</td>
            <td>课程</td>
            <td>文件名</td>
            <td>用户</td>
        </tr>
    {% for assignment in assignments %}
        <tr>
            <td>{{ assignment.uploadDateTime }}</td>
            <td>{{ assignment.relateAssignment }}</td>
            <td>{{ assignment.fileName }}</td>
            <td>{{ assignment.relateUser }}</td>
        </tr>

    {% endfor %}
</table>
</ol>

    <el-drawer
            title="用户登录"
            :visible.sync="loginDrawer"
            direction="rtl"
            :before-close="handleClose"
    >
        <el-form :model="loginForm" status-icon  label-width="20%" width="80%" class="demo-ruleForm"
                style="margin:10%;width: auto">
        <p>登陆后可以管理已提交作业</p>
          <el-form-item label="账号" prop="id" autocomplete="on">
            <el-input type="string" v-model="loginForm.id" ></el-input>
          </el-form-item>
            <el-form-item label="密码" prop="password" autocomplete="on">
            <el-input type="password" v-model="loginForm.password"></el-input>
          </el-form-item>
            <el-button type="primary" @click="submitLoginForm">提交</el-button>
            <el-button @click=handleClose>取消</el-button>
          </el-form-item>
        </el-form>

    </el-drawer>
</div>

{% endblock %}


{% block scripts %}

<script>
{#import store from '@/store'#}
    const tab1 = new Vue({
        el:"#app",
        data:function(){
            return {
                para: {"p1": 1},
                // dialogVisible: false,
                loginDrawer:false,
                loginForm:{
                    id:'',
                    password:''
                },

              }
        },
        computed:{
            headers () {
                let util;
                return { Authorization: "jwt" + util.cookies.get('token')}
            },
        },
        methods:{
            handleClose(done) {
                this.$message('您将只能上传 未被上传的文件');
                // done()
                this.loginDrawer=false
              },
            submitLoginForm(form, done){
                this.loginDrawer=false
                this.$message({
                  message: '暂未开放管理功能',
                  type: 'warning'
                });
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            beforeUploadFile (file)
            {
                this.loading = true
                this.uploadHeaders['Authorization'] = `jwt ${store.state.userInfo.token}`;
            },
            afterUploadFile (file)
            {
                // 在进行 post 和 get 请求的时候，使用 axios 进行访问
                // 进行 get 请求
                //axios.get(url).then(function (response){
                //    console.log(response);
                //}).catch(function(error){
                //    console.log(error);
                //});
                //// 进行post 请求
                //axios.post(url,{firstName:'Fred',lastName:'Flintstone'}).then(function (response) {
                //    console.log(response);
                //}).catch(function (error) {
                //    console.log(error);
                //});

                {#.then( res => {#}
                {#if( res.data.status == 1){#}
                {#    layer.msg('创建成功',{time:1500});#}
                {#    console.log(res);#}
                {#    $('#myModal').modal('toggle'); //弹窗消失#}
                {#else{#}
                {#    layer.msg(res.data.msg,{time:1500});#}
                {#    console.log(res)#}

            },
            alarm_post_status()
            {
                var successResponse;
                var jsonObj = JSON.parse(JSON.stringify(successResponse.data.data));
                console.log(jsonObj)
            },
            onSubmit() {
                var that = this;
                that.device['monitortype'] = that.value;
                //添加headers 用于解决CSRF Failed: CSRF token missing or incorrect问题
                axios.post('/monitor/AddDevice/', that.device, {headers: {'X-CSRFToken': this.getCookie('csrftoken')}})
                    .then(function (response) {
                        alert(JSON.stringify(response.data))
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            }


        }
    })
</script>
{% endblock %}
</body>
</html>