{% extends 'base.html' %}
{% block title %}作业提交首页{% endblock %}

{% block body %}


<div id="app">
    <h2>若要管理本人作业, 请  <el-button size="maximum" @click="loginDrawer = true"> 登录</el-button></h2>

    <el-row :gutter="10">
      <el-col :span="6" style="margin-bottom: 1%" width="25%" v-for="(course, i) in courseData">


{#        {% for datum in AssignmentList %}#}
{#            <h4>{{ datum.title }}</h4>#}
{#            <a>{{ datum.deadLine }}</a>#}
{#            {% if %}#}
          <el-card body-style="height:150px" shadow="hover" class="box-card" v-if="course.status=='collecting'">
<!--              body-style="background-color:#f0f9eb"-->
              <div slot="header" class="clearfix"
              >
                  <el-alert style="padding: 0; margin:0"
                            type="success"
                            :closable="false">
                      <h1>
                          <i  class="el-icon-success" style="size:40px;"></i>
                          {{course.courseName}}
                      </h1>
                      <a>[可提交] - DDL:  {{course.deadLine}}</a>


                  </el-alert>
              </div>
              <a>详细描述:{{course.description}}</a>
              <el-upload
                      class="upload-demo"
                      action="https://jsonplaceholder.typicode.com/posts/"

                      multiple
                      :limit="3"
                      :on-exceed="handleExceed"
                      >
                  <el-button size="small" type="success">上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传{{course.fileFormat}}文件，且不超过20MB
                      <br>作业规则:{{course.assignRule}}</div>
              </el-upload>
          </el-card>
          <el-card body-style="height:150px" shadow="hover" class="box-card" v-else-if="course.status=='stop'">
              <div slot="header" class="clearfix"
              >
                  <el-alert style="padding: 0; margin:0"
                            type="error"
                            :closable="false">
                      <h1>
                          <i  class="el-icon-error" style="size:40px;"></i>
                          {{course.courseName}}
                      </h1>
                      <a>[不可提交] - DDL:  {{course.deadLine}}</a>
                  </el-alert>
              </div>
<!--              <el-upload-->
<!--                      class="upload-demo"-->
<!--                      action="https://jsonplaceholder.typicode.com/posts/"-->
<!--                      :on-preview="handlePreview"-->
<!--                      :on-remove="handleRemove"-->
<!--                      :before-remove="beforeRemove"-->
<!--                      multiple-->
<!--                      :limit="3"-->
<!--                      :on-exceed="handleExceed"-->
<!--                      :file-list="fileList">-->
<!--                  <el-button size="small" type="primary" disabled>上传</el-button>-->
<!--                  <div slot="tip" class="el-upload__tip">只能上传pdf文件，且不超过20MB-->
<!--                      <br>作业规则:{{course.assignRule}}</div>-->
<!--              </el-upload>-->
<!--              <el-upload>-->
              <div style="margin: 0">
              <a>详细描述:{{course.description}}</a>
                  <el-button size="small" type="error" disabled>上传</el-button>
                  <div slot="tip" class="el-upload__tip">
                      只能上传{{course.fileFormat}}文件，且不超过20MB<br>
                      作业规则:{{course.assignRule}}</div>
              </div>
<!--              </el-upload>-->
          </el-card>
          <el-card body-style="height:150px" shadow="hover" class="box-card" v-else-if="course.status=='forthcoming'">
              <div slot="header" class="clearfix"
              >
                  <el-alert style="padding: 0; margin:0"
                            type="info"
                            :closable="false">
                      <h1>
                          <i  class="el-icon-info" style="size:40px;"></i>
                          {{course.courseName}}
                      </h1>
                      <a>[暂未开放] - DDL:  {{course.deadLine}}</a>
                  </el-alert>
              </div>
              <a>详细描述:{{course.description}}</a>
<!--              <el-upload-->
<!--                      class="upload-demo"-->
<!--                      action="https://jsonplaceholder.typicode.com/posts/"-->
<!--                      :on-preview="handlePreview"-->
<!--                      :on-remove="handleRemove"-->
<!--                      :before-remove="beforeRemove"-->
<!--                      multiple-->
<!--                      :limit="3"-->
<!--                      :on-exceed="handleExceed"-->
<!--                      :file-list="fileList">-->
<!--                  <el-button size="small" type="primary" disabled>上传</el-button>-->
<!--                  <div slot="tip" class="el-upload__tip">只能上传pdf文件，且不超过20MB-->
<!--                      <br>作业规则:{{course.assignRule}}</div>-->
<!--              </el-upload>-->
          </el-card>
          <el-card body-style="height:150px" shadow="hover" class="box-card" v-else-if="course.status=='comingup'">
              <div slot="header" class="clearfix"
              >
                  <el-alert style="padding: 0; margin:0"
                            type="warning"
                            :closable="false">
                      <h1>
                          <i  class="el-icon-warning" style="size:40px;"></i>
                          {{course.courseName}}
                      </h1>
                      <a>[即将截止] - DDL:  {{course.deadLine}}</a>
                  </el-alert>
              </div>
              <a>详细描述:{{course.description}}</a>
              <el-upload
                      auto-upload
                      list-type="picture"
                      :limit="1"
                      :on-exceed="handleExceed"
                      :file-list=["doc"]>
                  <el-button size="small" type="warning">上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传{{course.fileFormat}}文件，且不超过20MB
                      <br>作业规则:{{course.assignRule}}</div>
              </el-upload>
          </el-card>
          <el-card body-style="height:150px" shadow="hover" class="box-card" v-else>
                  <div slot="header" class="clearfix">
                      <h3>
                          {{i}} - {{course.courseName}}
                          <span>未知作业状态！！</span>
                          <el-button style="float: right;">上传</el-button>
                      </h3>
                  </div>
                  作业规则:{{course.assignRule}}<br>
                  <a>详细描述:{{course.description}}</a>
          </el-card>

{#        {% endfor %}#}
      </el-col>

    </el-row>

<el-drawer
        title="用户登录"
        :visible.sync="loginDrawer"
        direction="rtl"
        :before-close="handleClose"
>
    <el-form :model="loginForm" status-icon  label-width="20%" width="80%" class="demo-ruleForm"
            style="margin:10%;width: auto">
    <p>登陆后可以管理已提交作业</p>
      <el-form-item label="账号" prop="id" autocomplete="on">
        <el-input type="string" v-model="loginForm.id" ></el-input>
      </el-form-item>
        <el-form-item label="密码" prop="password" autocomplete="on">
        <el-input type="password" v-model="loginForm.password"></el-input>
      </el-form-item>
        <el-button type="primary" @click="submitLoginForm">提交</el-button>
        <el-button @click=handleClose>取消</el-button>
      </el-form-item>
    </el-form>
<!--            <el-form-->
<!--                ref="myform"-->
<!--                :model="mymodel"-->
<!--                label-width="150px"-->
<!--                style="margin:10px;width: auto">-->
<!--                    <el-form-item hidden prop="id" label="ID:">-->
<!--                        <el-input type="string" v-model="mymodel.id"></el-input>-->
<!--                    </el-form-item>-->
<!--            <el-form-item label="车辆姓名" required>-->
<!--                <el-form-item prop="vehicle_name">-->
<!--                    <el-input type="string" v-model="mymodel.vehicle_name"></el-input>-->
<!--                </el-form-item>-->
<!--            </el-form-item>-->
<!--            &lt;!&ndash;单选框&ndash;&gt;-->


<!--            <el-form-item prop='vehicle_isdiscard' label="是否报废：">-->
<!--                &lt;!&ndash;使用label表示值&ndash;&gt;-->
<!--                <el-radio-group v-model="mymodel.vehicle_isdiscard">-->
<!--                    <el-radio-button label="0">是</el-radio-button>-->
<!--                    <el-radio-button label="1">否</el-radio-button>-->
<!--                </el-radio-group>-->
<!--            </el-form-item>-->
<!--            <el-form-item prop="vehicle_type" label="车辆类型">-->
<!--                <el-select v-model="mymodel.vehicle_type" placeholder="请选择">-->
<!--                    <el-option-->
<!--                            v-for="item in vehicle_type"-->
<!--                            :key="course.id"-->
<!--                            :label="course.name"-->
<!--                            :value="course.name">-->
<!--                    </el-option>-->
<!--                </el-select>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="生产厂家" >-->
<!--                <el-form-item prop="vehicle_vehicle_manufacture">-->
<!--                    <el-input type="string" v-model="mymodel.vehicle_manufacture"-->
<!--                    width="60px"></el-input>-->
<!--                </el-form-item>-->
<!--            </el-form-item>-->
<!--            <el-form-item>-->
<!--                <el-button type="primary" @click='onSave("myform")'>保 存</el-button>-->
<!--                <el-button @click="dialog.show = false">取 消</el-button>-->
<!--            </el-form-item>-->
<!--        </el-form>-->
</el-drawer>
</div>

{% endblock %}


{% block scripts %}
<script>
    const app = new Vue({
        el:"#app",
        data:function(){
            return {
                // dialogVisible: false,
                loginDrawer:false,
                loginForm:{
                    id:'',
                    password:''
                },
                courseData: [{
                  despatchDate: '2021-12-12',
                  courseName: '软件导论实验报告1',
                  assginName: '实验报告1',
                  assginRule: '学号-姓名-软件工程分析实验报告1',
                  deadLine: '2021-12-25 24:00',
                  description: 'DDL为最晚时间',
                  status:'stop',
                    fileFormat:['pdf','doc','docx'],
                }, {
                  despatchDate: '2022-01-02',
                  courseName: '组成原理实验笔记2',
                  assginName: '实验报告2',
                  assginRule: '学号-姓名-组成原理实验报告1',
                  deadLine: '2022-01-07 18:00',
                  description: '纸质一并交齐，纸质不单独统计',
                    status:'comingup',
                    fileFormat:['doc','docx'],
                }, {
                  despatchDate: '2021-12-02',
                  courseName: '软件导论实验报告2',
                  assginName: '导论1',
                  assginRule: '学号-姓名-软件工程导论实验报告1',
                  deadLine: '2022-01-07 18:00',
                  description: '无',
                    status:'collecting',
                    fileFormat:['pdf','doc','docx'],
                }, {
                  despatchDate: '2016-05-02',
                  courseName: '软件导论实验报告3',
                  assginName: '报告3',
                  assginRule: '学号-姓名-软件工程导论实验报告1',
                  deadLine: '2022-01-07 18:00',
                  description: '无',
                    status:'collecting',
                    fileFormat:['pdf','doc','docx'],
                }, {
                  despatchDate: '2016-05-02',
                  courseName: '软件导论实验报告4',
                  assginName: '王小虎',
                  assginRule: '学号-姓名-软件工程分析实验报告1',
                  deadLine: '大约在冬季',
                  description: '未定',
                    status:'forthcoming',
                    fileFormat:['pdf','doc','docx'],
                }, {
                  despatchDate: '2016-05-02',
                  courseName: 'Java笔记',
                  assginName: '王小虎',
                  assginRule: '学号-姓名-Java上机作业1',
                  deadLine: '2022-02-08 18:00',
                  description: 'DDL可能提前',
                    status:'collecting',
                    fileFormat:['pdf'],
                }, ]
              }
        },
        methods:{
            handleClose(done) {
                this.$message('您将只能上传 未被上传的文件');
                // done()
                this.loginDrawer=false
              },
            submitLoginForm(form, done){
                this.loginDrawer=false
                this.$message({
                  message: '暂未开放管理功能',
                  type: 'warning'
                });
            },

        }
    })
</script>
{% endblock %}
</body>
</html>